
@media screen and (min-width: 480px) and (max-width: 768px) {




.header{
  background: url('../img1/header-480.png') no-repeat;
  height: 800px;
  overflow: hidden;
}

.header_top{
  width: 728px;
  height: 242px;
  margin: 0 auto;
 
}

.header__logo{
padding-top: 70px; 
display: block;
width: 154px;
height: 41px;
/*margin-right: 118px;*/
}

.header_top li, .menu{
display: inline-block;
}

.menu{
  /*width: 635px;*/
  margin-left: 5px;
  text-align: justify;
  float: left;
  padding-top: 34px;
  font-size: 24px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.405;
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
 }


.menu li{
  margin-right: 50px;
  
}

.menu a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu a:hover{
  border-bottom: 2px solid #edbfff; 
}


.menu--480{
position: absolute;
top: -9999px;
visibility: hidden;
display: none;
height: 0px;
}



}/*@media screen and (min-width: 768px) and (max-width: 960px) */