
/* cyrillic */
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 900;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
 src: url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);



@media screen and (min-width: 320px) and (max-width: 480px) {
/*
.header{
  background-image: url('../img1/header.png');
  height: 847px;
}
*/
.article{

  height: 600px;
  /* просто скопировал из генератора */
background: rgb(116,80,131); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(116,80,131,1) 0%, rgba(102,71,115,1) 27%, rgba(64,46,73,1) 74%, rgba(50,37,57,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(116,80,131,1) 0%,rgba(102,71,115,1) 27%,rgba(64,46,73,1) 74%,rgba(50,37,57,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(116,80,131,1) 0%,rgba(102,71,115,1) 27%,rgba(64,46,73,1) 74%,rgba(50,37,57,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 ); /* IE6-9 */
}

.article_container{
  width: 440px;
  margin: 0 auto;

}

.article__body--left{
  width: 370px;
  height: 130px;
  /*float: left;*/
    padding-left: 60px;
    padding-right: 10px;
      padding-top: 80px;

}
.article__body--right{
  width: 370px;
  height: 130px;
  /*float: right;*/
    padding-left: 60px;
    padding-right: 10px;
    
}
.article__body--center{
  height: 130px;
 /* margin-left: 33%;
  margin-right: 33%; */
}
.article__position{
  width: 370px;
  margin: 0 auto;
    padding-left: 60px;
    padding-right: 10px;
   

  }

  .article__img--left{
  background:  url('../img1/article__img--left-480.png') no-repeat;
    width: 27px;
    height: 28px;
  margin-left: -48px;
  position: absolute;

}


  .article__img--right{
  background:  url('../img1/article__img--left-480.png') no-repeat;
    width: 27px;
    height: 28px;
  margin-left: -48px;
  position: absolute;

}
  .article__img--center{
  background:  url('../img1/article__img--left-480.png') no-repeat;
    width: 27px;
    height: 28px;
  margin-left: -48px;
      position: absolute;

}

.article__end a{
  float: right;
}
.article__end a{
  font-size: 18px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
text-decoration: none;
}


.article__end a:hover{
   font-size: 18px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  line-height: 1.333;
  text-align: left;
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.8);
}

.article__head{
  font-size: 24px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  line-height: 1;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}

.article__item{
  overflow: hidden;
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(15, 21, 24, 0.004);
}





}/*@media screen and (min-width: 480px) and (max-width: 960px) */