@media screen and (min-width: 768px){

.news__body--left768, 
.news__body--right768{
position: absolute;
top: -9999px;
visibility: hidden;
display: none;
height: 0px;
}


a{
  text-decoration: none;
}
.news{
  background-color: #ececec;
  height: 400px;
  padding-top: 100px;
}


.news__container{
  width: 960px;
  margin: 0 auto;
  padding-top: 80px;
  overflow: hidden;
}

.news__body--left{
  width: 275px;
  height: 205px;
  float: left;
  overflow: hidden;

}
.news__body--right{
  width: 275px;
  height: 205px;
  float: right;
  overflow: hidden;
}
.news__body--center{
  height: 205px;
  margin-left: 33%;
  margin-right: 33%; 
  overflow: hidden;
}
.news__position{
  width: 225px;
  margin: 0 auto;
  }


.news__head a{
  font-size: 30px;
  font-family: "LeagueGothic";
  color: rgb(69, 69, 69);
  line-height: 0.8;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.news__head--left a{
  font-size: 48px;
  font-family: "LeagueGothic";
  color: rgb(69, 69, 69);
  line-height: 0.703;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  text-transform: uppercase;
}
.news__head--grey{
  font-size: 48px;
  font-family: "LeagueGothic";
  color: rgb(185, 185, 185);
  line-height: 0.703;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
  text-transform: uppercase;
}
.news__head--copyright a{
  font-size: 16px;
  font-family: "Georgia";
  color: rgb(197, 197, 197);
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}

.news__item a{
  overflow: hidden;
  font-size: 16px;
  font-family: "Open Sans";
  color: rgb(120, 120, 120);
  line-height: 1.5;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.004);
}




}/*@media screen and (min-width: 960px) */