
@media screen and (max-width: 320px) and (min-width: 0px){


  
.sprite{
 width: 280px;
 height: 425px;  
 position: relative;
 overflow: hidden;
 margin: 0 auto;


 }

.sprite li{

    /*margin-top: 40px;*/
    float: left;
    padding-left: 6.5%;
    padding-top: 40px
}

.sprite a{
  height: 63px;
  display: block;
  background-image: url('../img/sprite__img.png');
  background-repeat: no-repeat;
}

.sprite__img--plabong{
  background-position: 0 0;
  width: 75px;
  margin-right: 13px;
}
.sprite__img--ec{
  background-position: -76px 0;
  width: 81px;
  margin-right: 13px;

}

.sprite__img--03{
  background-position: -156px 0;
  width: 70px;
  margin-right: 13px;
}

.sprite__img--awsm{
  background-position: -226px 0;
  width: 56px;
  margin-right: 13px;
}

.sprite__img--rvca{
  background-position: -282px 0;
  width: 108px;
  
}

.sprite__img--vonzipper{
  background-position: -390px 0;
  width: 82px;
  
}



  }/*@media screen and (max-width: 320px) */