
@media screen and (min-width: 320px) and (max-width: 480px) {


  .header{
  background: url('../img1/header-768.png') no-repeat;
  height: 550px;
  overflow: hidden;
}

.header_top{
  width: 440px;
  height: 200px;
  margin: 0 auto;
}

.header__logo{
padding-top: 70px; 
display: block;
width: 150px;
height: 37px;
margin: 0 auto;
/*margin-right: 118px;*/
}

.header_top li, .menu--480{
display: block;
}

.menu--480 {
  z-index: 1;
  padding-top: 40px;

  font-size: 24px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.75;
  text-align: center;

}




.menu--480 li {

    text-align: center;
    position: relative;
    z-index: 1;
    }
.menu--480 li ul {
 
   display: none;
    position: absolute;
    }
.menu--480 li a {

  height: 43px;
    display: block;
    text-decoration: none;
  font-size: 24px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.405;
  text-align: center;
  margin: auto;
    }
  .menu--topmenu{
    width: 43px;
    border: 2px solid transparent;
    border-bottom: 2px solid #edbfff;
    text-decoration: none;
  }
  .menu--next{
    border: 2px solid transparent;
    height: 43px;
    display: block;
    text-decoration: none;
    font-size: 24px;
    font-family: "LeagueGothic";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.405;
    text-align: center;
    margin: auto;


  }
.menu--480 li:hover ul, .menu--480 li.jshover ul {
    display: block;
  opacity: 0.902;
  width: 247px;
  height: 260px;
    position: relative;
    margin: 0 auto;
    border-radius: 10px;
    border: #051116 1px;
    background: #3f3247;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
    margin-top: -44px;
    }
    .menu--480 a:hover{
  border-bottom: 2px solid #edbfff; 
  background-color:rgba(43, 34, 49, 0.302);
  text-align: center;
}

.menu--home{
  width: 43px;
  /*height: 24px;*/
  border: 2px solid transparent;
  border-bottom: 2px solid #edbfff; 
  text-decoration: none;

}

.news__body--left, 
.news__body--right, 
.menu
{
position: absolute;
top: -9999px;
visibility: hidden;
display: none;
height: 0px;
}




}/*@media screen and (min-width: 480px) and (max-width: 960px) */