
/* cyrillic */
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 900;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
 src: url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

@media screen and (min-width: 480px) and (max-width: 768px) {


.clearfix:after{
  content: '';
  clear: both;
  display: block;
}

.slider{
  height: 400px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  
}

.slider__container{
  width: 728px;
  height: 400px;
  position: relative;
  margin: 0 auto;
}


  .slider__container:before{
content: "";
z-index: -1;
display: block;
background: url('../img1/slider__container.png') no-repeat;

  
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);

width: 728px;
height: 400px;

  background-position: right 177px top 60px;
  margin: 0 auto;
 
  }

  .slider__phone{
    background: url('../img1/slider__phone.png') no-repeat;
    
    width: 190px;
    height: 370px;
    margin-top: -20px;
    position: absolute;
    top: 0;
    right: 30px;
  }
  .slider__text{
    width: 273px;
    height: 181px;
    margin: 0 auto; 
    top: 104px;
    position: absolute;
    left: 23px;
    overflow: hidden;
  }

  .slider__text--h1{
text-transform: capitalize;
font-size: 48px;
  font-family: "LeagueGothic";
  color: rgb(254, 254, 254);
  line-height: 0.75;
  text-align: left;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.slider__text--h2
  {
      font-family: "LeagueGothic";
      color: #edbfff;
      text-transform: uppercase;
      font-size: 24px;
  }

.slider__text--p p{
 
  font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    color: rgb(254, 254, 254);
    font-size: 16px;
    line-height: 1.2;
}

.slider__video{
    background: url('../img1/slider__video.png') no-repeat;
    width: 74px;
    height: 74px;
    margin: auto;
    margin-top: 75%;
}

.slider__video:hover{
background: url('../img1/slider__video_plugged.png') no-repeat;
}



.slider__arrow--left{
  position: absolute;
  left: -20px;
  top: 50%;
  background: url('../img1/arrow--left.png') no-repeat;
  width: 31px;
  height: 43px;
}


.slider__arrow--right{
  position: absolute;
  right: -20px;
  top: 50%;
  background: url('../img1/arrow--right.png') no-repeat; 
  width: 31px;
  height: 43px;
}

.slider__arrow--left:hover{
  opacity: 0.3;

}

.slider__arrow--right:hover{
opacity: 0.3;
}




.slider__circle span{
  width: 17px;
  height: 17px;
 /* margin-left:30%;
  /*opacity: 0.302;*/
  border-radius: 50%;
  background-color: #3c3943;
  display: inline-block;
}
.slider__circle span:hover{
  width: 9px;
  height: 9px;
  background-color:white;
  border: 4px #3c3943 solid;
}


.slider__circle{
  /*width: 100px;*/
  position: absolute;
  bottom: -90px;
  left: 75%;

}





}/*@media screen and (min-width: 768px) and (max-width: 960px) */