
/* cyrillic */
@font-face {
  font-family: 'Open Sans Extrabold';
  font-style: normal;
  font-weight: 900;
  src: local('Open Sans Extrabold'), local('OpenSans-Extrabold'), url(http://fonts.gstatic.com/s/opensans/v13/EInbV5DfGHOiMmvb1Xr-hpX5f-9o1vgP2EXwfjgl7AY.woff2) format('woff2');
 src: url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans:800&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic,700&subset=latin,cyrillic-ext,latin-ext,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);



@media screen and (min-width: 768px){



.header{
  background-image: url('../img1/header.png');
  height: 847px;
}

.header_top{
  width: 960px;
  height: 280px;
  margin: 0 auto;
 
}

.header__logo{
padding-top: 70px; 
display: inline-block;
margin-right: 118px;
}

.header_top li, .menu{
display: inline-block;
}

.menu{
  width: 640px;
  text-align: justify;
  float: right;
  padding-top: 76px;
  font-size: 24px;
  font-family: "LeagueGothic";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.405;
  text-align: left;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);

}
.menu li{
  margin-left: 40px;
  
}

.menu a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-bottom: 2px solid transparent;
}

.menu a:hover{
  border-bottom: 2px solid #edbfff; 
}

.menu--480{
position: absolute;
top: -9999px;
visibility: hidden;
display: none;
height: 0px;
}






}/*@media screen and (min-width: 960px) */




