.ER .Home {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  line-height: 1.405;
  text-align: left;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.6);

  padding-left: 1171.937px;
  padding-top: 140.14px;
  z-index: 105;
}

